@use 'base/variables' as v;
@use 'base/mixins' as m;



.pasos{
    margin-top: 5rem;

    &_wave{
        margin-bottom: -1px;

    }

    &_contenido{
        background-color: v.$primario;
    
    }

    &_heading{
        text-align: center;
        color: v.$blanco;

        &--1{
            display: block;
            font-size: 1.8rem
        }
    }

    &_grid{
        @include m.grid(3,v.$separacion); 
    }

    &__imagen{
        transition-property: transform;
        transition-duration: 300ms;

        &:hover{
            transform: rotate(-4deg) scale(1.2);
        }
    }
}